<!--<h1 class="jumbotron">Hola, mundo</h1>
<h1>Hola {{title}}</h1>
<h1>Hola {{title2}}</h1>
<h2>{{ title | lowercase}}</h2>
<p>Acortar prueba para mostrar solo las 2 primeras letras:{{ title | slice:0:2}}</p>
<p>{{ title | slice:0:-2}}</p>

<br>
<h2>Esto es otro componente</h2>
<app-hola-mundo></app-hola-mundo>
<h2>Esto es otro componente</h2>
<app-formulario-ejemplo></app-formulario-ejemplo>-->

<!--comentamos todo y es un componente condicional que va a mostrar el componente que corresponda según la ruta-->
<router-outlet></router-outlet>